@import url("/node_modules/@fontsource/overpass/400.css");
@import url("/node_modules/@fontsource/overpass/700.css");

$mobile: 375px;
$desktop: 1440px;
$size-primary: 15px;
$padding-main: 1rem;
$font-main: "Overpass", sans-serif;
