@use "./variables";
@use "./global";
@use "./reset";
@use "./colors";

main {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.card {
  background-color: colors.$main-color;
  border-radius: 15px;
  padding: variables.$padding-main;
  margin: 0 1rem;
  font-size: variables.$size-primary;
  width: 300px;
  height: 250px;
}

.card > span {
  padding-bottom: 10px;
  display: inline-block;
}

.card__title {
  color: #fff;
}

.card__content {
  color: colors.$font-primary-color;
}

.card__button {
  background-color: colors.$primary-color;
  color: white;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 8px 0;
}

.card__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__body {
  display: flex;
  justify-content: space-evenly;
  color: colors.$font-primary-color;
  padding: variables.$padding-main;
}

.button--circle {
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  background-color: #474b4c6b;
}
